<nav class="navbar">
  <div class="navbar-expand" id="navbarText">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button"
          aria-expanded="false">Pokemón API</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item text-success" routerLink="lpokemones">Pokemones</a></li>
          <li><a class="dropdown-item text-success" routerLink="lpokemonesBug">Tipo Bug</a></li>
          <li><a class="dropdown-item text-success" routerLink="lpokemonesDark">Tipo Dark</a></li>
          <li><a class="dropdown-item text-success" routerLink="lpokemonesDragon">Tipo Dragon</a></li>
          <li><a class="dropdown-item text-success" routerLink="lpokemonesElectric">Tipo Electric</a></li>
          <li><a class="dropdown-item text-success" routerLink="lpokemonesFairy">Tipo Fairy</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>